.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

.smtcmp*

# Ignore Smart Connections folder
.smart-connections/
.smart-env/
.obsidian/
.obsidian.vimrc
Templates